{"swagger":"2.0","info":{"title":"8X8 SMS","description":"Sending SMS using 8x8 SMS API\n\nhttps://developer.8x8.com/connect/reference/getting-started-with-sms-api","version":"1.0"},"host":"sms.8x8.com","basePath":"/","schemes":["https"],"consumes":[],"produces":[],"paths":{"/api/v1/subaccounts/PrepayPower_OTP/messages/":{"post":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Send SMS","operationId":"POST","description":"Send SMS using PrepayPower OTP Account on 8X8 Connect","x-ms-visibility":"advanced","parameters":[{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/json","x-ms-visibility":"internal"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","x-ms-visibility":"internal"},{"name":"body","in":"body","required":true,"schema":{"type":"object","properties":{"encoding":{"type":"string","description":"encoding","title":"","default":"AUTO","x-ms-visibility":"internal"},"track":{"type":"string","description":"track","title":"","x-ms-visibility":"internal"},"destination":{"type":"string","description":"Please enter a +3538300000 format","title":"Phone Number","x-ms-visibility":"advanced"},"source":{"type":"string","description":"Please select the tenant to send the SMS from","title":"Source","x-ms-visibility":"advanced","enum":["PrepayPower","YunoEnergy","firmus","Kaizen"]},"clientMessageId":{"type":"string","description":"Pease enter a short label for internal reporting","title":"Internal Label","x-ms-visibility":"advanced"},"text":{"type":"string","description":"Please enter the SMS Body","title":"Message","x-ms-visibility":"advanced"}},"x-ms-visibility":"advanced","required":["clientMessageId","destination","encoding","source","text"]},"x-ms-visibility":"advanced"}]}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"api_key":{"type":"apiKey","in":"header","name":"Authorization"}},"security":[{"api_key":[]}],"tags":[],"x-ms-openai-manifest":{"humanName":"Send SMS Message from 8X8","modelDescription":"This connection uses the 8X8 Send SMS API to trigger a SMS from our PrepayPower tenant.","contactEmail":"Digital.transformation@prepaypower.ie"}}